<!-- <div class="progress">
      <div class="indeterminate">
  </div></div> -->

  <div class="row">
<main>
	<aside>
		
	</aside>

	<section>
	
	<div class="create_question">

		<%= form_for @question, remote: true do |f| %>
		
		<%= f.text_area :content %> <br><br>

		<div class = "actions">

		<% if user_signed_in? %>
		<%= f.submit id: 'create_question_submit' %>
		<% end %>
		
		<span id="characters">0</span>			
		</div> 	
			
		<%end%>


		</div>




	<% Question.all.each do |ques|%>
	<ul style="background-color: white"><li>
	
		<div class="card white darken-2">
		<div class="card-content black-text">
		
		<% link_to "delete" %>
		<span class="card-title">

	<div class="create_ques" id="bakwass">	
	<div class="left">
	<div class="userImage">

	<% if ques.user.profile_picture %>
	<img src="/assets/user.png">
	<% end %>

	</div>
	</div>	
 
	</div><%= ques.content%>
	</span>

	

		<% if user_signed_in? %>
		   <b style="color: lightgrey"><% user= User.find_by_id(ques.user_id) %>
		
		<i id="something"><%= user.try(:email) %></i></b><div class="circlee">
		<!-- <i class="fa fa-circle-o-notch" aria-hidden="true"></i> -->

		
		</div>
		
	<div class="didit">
			<%= link_to image_tag("pencill.png", class: 'circlee'), edit_question_path(ques) %>
	   		<%= link_to image_tag("destroy.png", class: 'circlee'), ques, method: :delete, data: { confirm: 'Are you sure?'}%>
        	</div>
    	<% end %>
    	
		
	

		<% @answers.where(question_id: ques.id).each do |ans|%>
		
		
		 
		<br><% if ans.user.profile_picture %>
	<img src="/assets/user.png">
	<% end %><h7><%= ans.content %></h7><br>


		<% if user_signed_in? %>
		<b style="color: lightgrey"><% user= User.find_by_id(ans.user_id) %>
			
		<i id="something"><%=user.email %></i></b>
			<%end%>
		<%end%>



		<div class="create_ques">	
	<% if user_signed_in? %>
	<%= render 'question', ques: ques %>
	<%end%>
	</div>
	

	

	<% if @question.errors.any? %>
      
      <% @question.errors.full_messages.each do |message| %>
      

      <script type="text/javascript">
	noty({text: '<%= message %>', type: 'error'});
	  </script>

      <% end %>
     
  <% end %>
		

		<div class="create_answer">

		<%= form_for @question.answers.new, remote: true do |f| %>
		<%= hidden_field_tag 'answer[question_id]', ques.id %>
		 <br>
		<%= f.text_area :content %> <br>

		<div class = "actions" style="color: black">
		<% if user_signed_in? %>
		<%= f.submit id: 'Answer'%>
		<%end%>

					
		</div> 	
			</div>
		<%end%>

		</li>
</ul>

		<%end%>	


</div>
</div>
	</section>

<div id="toTopButton"><img src="/assets/7645.png"></div>

</main>
</div>


<script type="text/javascript">
	$.ajax({url: '/ajax',
		data: {
			text: "text"
		}
, success: function(data){
	console.log(data);
	console.log("request completed");
},
error: function(){
		console.log(arguments);

	console.log("some error");
}

});
</script>


